## Importing the Libraries

In [186]:
import pandas as pd
import numpy as np

### Adding all the Databbases, commented one out as it was not loading correctly

In [89]:
murder_db = pd.read_excel('data/Murder.xlsx')
two_wheeler_db = pd.read_excel('data/2 Wheeler Theft.xlsx')
four_wheeler_db = pd.read_excel('data/4 Wheeler Theft.xlsx')
attempt_murder_db = pd.read_excel('data/307 IPC.xlsx')
sexual_assault_db = pd.read_excel('data/376 IPC.xlsx')
hurt_db = pd.read_excel('data/Hurt.xlsx')
kidnap_db = pd.read_excel('data/Kidnap.xlsx')
#ordinary_theft_db = pd.read_excel('data/Ordinary Theft.xlsx')
robbery_db = pd.read_excel('data/Robbery.xlsx')
chain_snatching_db = pd.read_excel('data/CS.xlsx')

## Checking the added daatsets

In [48]:
two_wWheeler_db.head()

,Police Stion,Year,Type,Date,Time,Place of Occurrence,Lattitude,Longitude
0,Jayanagar,2015.0,2 wheeler theft,2015-02-01 00:00:00,16:45:00,"Surana college, South end road Basavanagudi",12.88605,77.494843
1,Jayanagar,2015.0,2 wheeler theft,2015-03-01 00:00:00,20:00:00,"NO. 324, 10TH A MAIN 3RD BLOCK JAYANAGARA",12.915668,77.589662
2,Jayanagar,2015.0,2 wheeler theft,2015-04-01 00:00:00,17:30:00,"INFRONTT OF NO.459/58,-1, S.R PLAZA, 2nd MAIN,...",12.926896,77.589654
3,Jayanagar,2015.0,2 wheeler theft,2015-05-01 00:00:00,19:45:00,"INFRONT OF NO.168/3, 26th CROSS, 2nd D. MAIN,6...",12.9184,77.58268
4,Jayanagar,2015.0,2 wheeler theft,2015-06-01 00:00:00,19:45:00,"INFRONT OF 19-19/1, SOUTHEND ROAD,BASAVANAGUDI",12.923665,77.589668

## Removing the Serial Number Column from every Data set

In [102]:
murder_db.drop('Sl.No', axis = 1, inplace = True)
two_wheeler_db.drop('Sl.No', axis = 1, inplace = True)
four_wheeler_db.drop('Sl.No', axis = 1, inplace = True)
attempt_murder_db.drop('Sl.No', axis = 1, inplace = True)
sexual_assault_db.drop('Sl.No', axis = 1, inplace = True)
hurt_db.drop('Sl.No', axis = 1, inplace = True)
kidnap_db.drop('Sl.No', axis = 1, inplace = True)
robbery_db.drop('Sl.No', axis = 1, inplace = True)
chain_snatching_db.drop('Sl.No', axis = 1, inplace = True)

### The Above tableas 3 of the Data sets have an unwanted Column called as Unnamed: 9..... now we need to Remove that

In [99]:
robbery_db.drop('Unnamed: 9', axis = 1, inplace = True)

In [104]:
murder_db.head()

,Unnamed: 0,Police Stion,Year,Type,Date,Time,Place of Occurrence,Latitude,Longitude
0,0,Jayanagar,2016,Murder,29/07/2016,21:00:00,"22nd Cross, Jayanagara 6th Block Bangalore",12.93297,77.58381
1,1,Jayanagar,2016,Murder,13/11/2016,23:45:00,"On the Road of 30th Cross, Opp Vinayaka textti...",12.930433,77.549761
2,2,Jayanagar,2017,Murder,2017-10-05 00:00:00,21:00:00,"No. 282, 36th Cross Jayanagara 7th Block Banga...",12.923736,77.58182
3,3,Jayanagar,2017,Murder,19/07/2017,19:30:00,"Near Transfaram, Opp Amejan, Kanakapura Main R...",12.924123,77.576913
4,4,Jayanagar,2018,Murder,21/06/2018,23:30:00,"No. 53, 2nd Floor, 8th Main 4th Block Jayanaga...",12.924377,77.582729

In [128]:
chain_snatching_db.head()

,Police Stion,Year,Type,Date,Time,Place of Occurrence,Lattitude,Longitude
0,Jayanagar PS,2015,Chain Snatching,2015-02-03 00:00:00,15:40:00,"INFRONT OF NO.147, 36th A. CROSS, 7th MAIN, 5t...",12.92043,77.5819
1,Jayanagar PS,2015,Chain Snatching,13/03/2015,17:30:00,"INFRONT OF HOUSE NO: 34/9, 38TH A CROSS, 8TH B...",12.921652,77.57928
2,Jayanagar PS,2015,Chain Snatching,31/03/2015,20:15:00,"INFRONT OF HOUSE NO: 458, 39TH B CROSS, 10TH M...",12.920838,77.58481
3,Jayanagar PS,2015,Chain Snatching,2015-01-04 00:00:00,19:45:00,"INFRONT OF BANASHANKARI, TEXTILES, 42ND CROSS,...",12.918973,77.57598
4,Jayanagar PS,2015,Chain Snatching,2015-08-05 00:00:00,11:30:00,"NEAR HANDLOOM WORLD, 10th B MAIN, JAYANAGAR 3r...",12.932486,77.58962

In [129]:
chain_snatching_db['Police Stion'].unique()

array(['Jayanagar PS ', 'Basavanagudi', 'J P NAGAR ', 'Banashankari',
       'Siddapura ', 'Subramanyapura ', 'Thalaghtapura ',
       'KONANAKUNTE PS', 'Puttenahalli ', 'KS LAYOUT', 'GIRINAGAR PS',
       'k g nagar', 'Shankarapura', 'VV Puram', 'H NAGAR PS',
       'C.K. Achuktu'], dtype=object)

In [130]:
chain_snatching_db['Police Stion'].replace(to_replace = 'Jayanagar PS ', value = 'Jayanagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Basavanagudi', value = 'Basavanagudi', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'J P NAGAR ', value = 'J P Nagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Banashankari', value = 'Banashankari', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Siddapura ', value = 'Siddapura', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Subramanyapura ', value = 'Subramanyapura', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Thalaghtapura ', value = 'Thalaghtapura', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'KONANAKUNTE PS', value = 'Konanakunte', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Puttenahalli ', value = 'Puttenahalli', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'KS LAYOUT', value = 'K S Layout', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'GIRINAGAR PS', value = 'Girinagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'k g nagar', value = 'K G Nagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Shankarapura', value = 'Shankarapura', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'VV Puram', value = 'V V Puram', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'H NAGAR PS', value = 'H Nagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'C.K. Achuktu', value = 'C K Acchuktu', inplace = True)

In [132]:
chain_snatching_db['Police Stion'].unique()
chain_snatching_db.to_excel('Cleaned_Data/chain_snatching.xlsx')

In [127]:
robbery_db['Police Stion'].unique()
robbery_db.to_excel('Cleaned_Data/robbery.xlsx')

In [122]:
kidnap_db['Police Station'].unique()
kidnap_db.to_excel('Cleaned_Data/kidnapping.xlsx')

In [117]:
hurt_db['Police Station'].unique()
hurt_db.to_excel('Cleaned_Data/hurt.xlsx')

In [112]:
sexual_assault_db['Police Station'].unique()
sexual_assault_db.to_excel('Cleaned_Data/sexual_assault.xlsx')

In [110]:
attempt_murder_db['Police Stion'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'V V Puram', 'H Nagar', 'C K Acchuktu'],
      dtype=object)

In [94]:
murder_db['Police Stion'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Ramakrishnanagar', 'Chandranagar',
       'Bendrenagar', 'Kashinagar', 'Yelachenahalli', 'Praghipura',
       'Kadirenahalli', 'Uttarahalli', 'Iliyasnagar', 'Girinagar',
       'K G Nagar', 'V V Puram', 'H Nagar', 'C K Acchuktu'], dtype=object)

In [95]:
two_wheeler_db['Police Stion'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'V V Puram', 'H Nagar', 'C K Acchuktu'],
      dtype=object)

In [96]:
four_wheeler_db['Police Station'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'V V Puram', 'H Nagar', 'C K Acchuktu'],
      dtype=object)

## Adding the Cleaned Data

In [91]:
murder_db = pd.read_excel('Cleaned_Data/murder.xlsx')
two_wheeler_db = pd.read_excel('Cleaned_Data/two_wheeler_theft.xlsx')
four_wheeler_db = pd.read_excel('Cleaned_Data/four_wheeler_theft.xlsx')
attempt_murder_db = pd.read_excel('Cleaned_Data/attempt_murder.xlsx')

In [ ]:
four_wheeler_db.to_excel('data_formatted/four_wheeler_theft.xlsx')

## Loding in the Cleaned Data for Further Cleaning

In [203]:
#murder_db = pd.read_excel('Cleaned_Data/murder.xlsx')
#two_wheeler_db = pd.read_excel('Cleaned_Data/two_wheeler_theft.xlsx')
#four_wheeler_db = pd.read_excel('Cleaned_Data/four_wheeler_theft.xlsx')
attempt_murder_db = pd.read_excel('Cleaned_Data/attempt_murder.xlsx')
#sexual_assault_db = pd.read_excel('Cleaned_Data/sexual_assault.xlsx')
#hurt_db = pd.read_excel('Cleaned_Data/hurt.xlsx')
#kidnap_db = pd.read_excel('Cleaned_Data/kidnapping.xlsx')
#robbery_db = pd.read_excel('Cleaned_Data/robbery.xlsx')
#chain_snatching_db = pd.read_excel('Cleaned_Data/chain_snatching.xlsx')

In [166]:
murder_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Police_Station       135 non-null    object
 1   Year                 135 non-null    int64
 2   Type                 135 non-null    object
 3   Date                 135 non-null    object
 4   Time                 123 non-null    object
 5   Place of Occurrence  135 non-null    object
 6   Latitude             135 non-null    object
 7   Longitude            135 non-null    object
dtypes: int64(1), object(7)
memory usage: 8.6+ KB

In [192]:
two_wheeler_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3994 entries, 0 to 3993
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           3994 non-null   int64
 1   Police Stion         3994 non-null   object
 2   Year                 3992 non-null   float64
 3   Type                 3994 non-null   object
 4   Date                 3986 non-null   object
 5   Time                 3448 non-null   object
 6   Place of Occurrence  3993 non-null   object
 7   Lattitude            3962 non-null   object
 8   Longitude            3970 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 281.0+ KB

In [170]:
four_wheeler_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Police_Station       216 non-null    object
 1   Year                 209 non-null    float64
 2   Type                 216 non-null    object
 3   Date                 216 non-null    object
 4   Time                 190 non-null    object
 5   Place of Occurrence  216 non-null    object
 6   Latitude             208 non-null    object
 7   Longitude            208 non-null    object
dtypes: float64(1), object(7)
memory usage: 13.6+ KB

In [204]:
attempt_murder_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  326 non-null    object
 1   Year            326 non-null    int64
 2   Type            326 non-null    object
 3   Date            326 non-null    datetime64[ns]
 4   Time            326 non-null    object
 5   Unnamed: 5      0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 15.4+ KB

In [174]:
sexual_assault_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Police_Station       76 non-null     object
 1   Year                 76 non-null     int64
 2   Type                 76 non-null     object
 3   Date                 76 non-null     object
 4   Time                 70 non-null     object
 5   Place of Occurrence  76 non-null     object
 6   Latitude             69 non-null     object
 7   Longitude            70 non-null     object
dtypes: int64(1), object(7)
memory usage: 4.9+ KB

In [176]:
hurt_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877 entries, 0 to 1876
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Police_Station       1877 non-null   object
 1   Year                 1877 non-null   int64
 2   Type                 1877 non-null   object
 3   Date                 1874 non-null   object
 4   Time                 1634 non-null   object
 5   Place of Occurrence  1876 non-null   object
 6   Latitude             1794 non-null   object
 7   Longitude            1798 non-null   object
dtypes: int64(1), object(7)
memory usage: 117.4+ KB

In [178]:
kidnap_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Police_Station       574 non-null    object
 1   Year                 575 non-null    int64
 2   Type                 575 non-null    object
 3   Date                 574 non-null    object
 4   Time                 515 non-null    object
 5   Place of Occurrence  575 non-null    object
 6   Latitude             551 non-null    object
 7   Longitude            551 non-null    object
dtypes: int64(1), object(7)
memory usage: 36.1+ KB

In [180]:
robbery_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Police_Station       399 non-null    object
 1   Year                 398 non-null    float64
 2   Type                 399 non-null    object
 3   Date                 399 non-null    object
 4   Time                 365 non-null    object
 5   Place of Occurrence  399 non-null    object
 6   Lattitude            397 non-null    object
 7   Longitutde           398 non-null    object
dtypes: float64(1), object(7)
memory usage: 25.1+ KB

In [182]:
chain_snatching_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Police_Station       360 non-null    object
 1   Year                 360 non-null    int64
 2   Type                 360 non-null    object
 3   Date                 360 non-null    object
 4   Time                 336 non-null    object
 5   Place of Occurrence  360 non-null    object
 6   Lattitude            360 non-null    object
 7   Longitude            360 non-null    object
dtypes: int64(1), object(7)
memory usage: 22.6+ KB

In [193]:
#murder_db.drop('Unnamed: 0', axis = 1, inplace = True)
#two_wheeler_db.drop('Unnamed: 0', axis = 1, inplace = True)
#four_wheeler_db.drop('Unnamed: 0', axis = 1, inplace = True)
#hurt_db.drop('Unnamed: 0', axis = 1, inplace = True)
#kidnap_db.drop('Unnamed: 0', axis = 1, inplace = True)
#robbery_db.drop('Unnamed: 0', axis = 1, inplace = True)
#attempt_murder_db.drop('Unnamed: 0', axis = 1, inplace = True)
#sexual_assault_db.drop('Unnamed: 0', axis = 1, inplace = True)
#chain_snatching_db.drop('Unnamed: 0', axis = 1, inplace = True)

In [194]:

two_wheeler_db.rename(columns = {'Police Stion' : 'Police_Station'}, inplace = True)

In [177]:
kidnap_db.rename(columns = {'Police Station' : 'Police_Station', 'Report Date' : 'Date'}, inplace = True)

In [198]:
two_wheeler_db['Year'].astype('int64')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [199]:
two_wheeler_db['Year'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
3989    False
3990    False
3991    False
3992    False
3993    False
Name: Year, Length: 3994, dtype: bool

In [205]:
attempt_murder_db['Date']

0     2016-10-02
1     2016-09-11
2     2017-12-06
3     2018-02-12
4     2015-01-02
         ...
321   2018-04-19
322   2018-09-23
323   2019-01-02
324   2019-09-15
325   2019-12-15
Name: Date, Length: 326, dtype: datetime64[ns]