## Importing the Libraries

In [88]:
import pandas as pd

### Adding all the Databbases, commented one out as it was not loading correctly

In [89]:
#murder_db = pd.read_excel('data/Murder.xlsx')
#two_wheeler_db = pd.read_excel('data/2 Wheeler Theft.xlsx')
#four_wheeler_db = pd.read_excel('data/4 Wheeler Theft.xlsx')
#attempt_murder_db = pd.read_excel('data/307 IPC.xlsx')
sexual_assault_db = pd.read_excel('data/376 IPC.xlsx')
hurt_db = pd.read_excel('data/Hurt.xlsx')
kidnap_db = pd.read_excel('data/Kidnap.xlsx')
#ordinary_theft_db = pd.read_excel('data/Ordinary Theft.xlsx')
robbery_db = pd.read_excel('data/Robbery.xlsx')
chain_snatching_db = pd.read_excel('data/CS.xlsx')

## Checking the added daatsets

In [48]:
two_wWheeler_db.head()

,Police Stion,Year,Type,Date,Time,Place of Occurrence,Lattitude,Longitude
0,Jayanagar,2015.0,2 wheeler theft,2015-02-01 00:00:00,16:45:00,"Surana college, South end road Basavanagudi",12.88605,77.494843
1,Jayanagar,2015.0,2 wheeler theft,2015-03-01 00:00:00,20:00:00,"NO. 324, 10TH A MAIN 3RD BLOCK JAYANAGARA",12.915668,77.589662
2,Jayanagar,2015.0,2 wheeler theft,2015-04-01 00:00:00,17:30:00,"INFRONTT OF NO.459/58,-1, S.R PLAZA, 2nd MAIN,...",12.926896,77.589654
3,Jayanagar,2015.0,2 wheeler theft,2015-05-01 00:00:00,19:45:00,"INFRONT OF NO.168/3, 26th CROSS, 2nd D. MAIN,6...",12.9184,77.58268
4,Jayanagar,2015.0,2 wheeler theft,2015-06-01 00:00:00,19:45:00,"INFRONT OF 19-19/1, SOUTHEND ROAD,BASAVANAGUDI",12.923665,77.589668

## Removing the Serial Number Column from every Data set

In [102]:
#murder_db.drop('Sl.No', axis = 1, inplace = True)
#two_wheeler_db.drop('Sl.No', axis = 1, inplace = True)
#four_wheeler_db.drop('Sl.No', axis = 1, inplace = True)
#attempt_murder_db.drop('Sl.No', axis = 1, inplace = True)
sexual_assault_db.drop('Sl.No', axis = 1, inplace = True)
hurt_db.drop('Sl.No', axis = 1, inplace = True)
kidnap_db.drop('Sl.No', axis = 1, inplace = True)
robbery_db.drop('Sl.No', axis = 1, inplace = True)
chain_snatching_db.drop('Sl.No', axis = 1, inplace = True)

### The Above tableas 3 of the Data sets have an unwanted Column called as Unnamed: 9..... now we need to Remove that

In [99]:
robbery_db.drop('Unnamed: 9', axis = 1, inplace = True)

In [104]:
murder_db.head()

,Unnamed: 0,Police Stion,Year,Type,Date,Time,Place of Occurrence,Latitude,Longitude
0,0,Jayanagar,2016,Murder,29/07/2016,21:00:00,"22nd Cross, Jayanagara 6th Block Bangalore",12.93297,77.58381
1,1,Jayanagar,2016,Murder,13/11/2016,23:45:00,"On the Road of 30th Cross, Opp Vinayaka textti...",12.930433,77.549761
2,2,Jayanagar,2017,Murder,2017-10-05 00:00:00,21:00:00,"No. 282, 36th Cross Jayanagara 7th Block Banga...",12.923736,77.58182
3,3,Jayanagar,2017,Murder,19/07/2017,19:30:00,"Near Transfaram, Opp Amejan, Kanakapura Main R...",12.924123,77.576913
4,4,Jayanagar,2018,Murder,21/06/2018,23:30:00,"No. 53, 2nd Floor, 8th Main 4th Block Jayanaga...",12.924377,77.582729

In [103]:
sexual_assault_db.head()

,Police Station,Year,Type,Report Date,Time,Place of Occurrence,Latitude,Longitude
0,Jayanagar PS,2015,Rape,2015-02-06 10:50:00,NaN,"Rose Garden Park or Lakshmanarao Park,Near Jay...",12.94197,77.50588
1,Jayanagar PS,2017,Rape,26/10/2017,14:00:00,"The President Hotel, Elephant Rock Road, 3rd B...",12.933274,77.583281
2,Jayanagar PS,2017,Rape,26/12/2017,20:00:00,"No-2, 17th Main, Srinidhi Layout,, Konanakunte...",12.888238,77.569679
3,Basavanagudi,2015,Rape,30/10/2015,13:30:00,"NO.01, Subbaram Chetty Road,Basavanagudi , Ban...",12.939824,77.57269
4,Basavanagudi,2019,Rape,2019-09-04 00:00:00,NaN,"Tirinity hospital, near SRS petrol bunk, Basav...",12.943541,77.57964

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'H Nagar', 'C K Acchuktu'], dtype=object)

In [109]:
attempt_murder_db['Police Stion'].replace(to_replace = 'Siddapura ', value = 'Siddapura', inplace = True)

In [112]:
sexual_assault_db['Police Station'].unique()
sexual_assault_db.to_excel('Cleaned_Data/sexual_assault.xlsx')

In [110]:
attempt_murder_db['Police Stion'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'V V Puram', 'H Nagar', 'C K Acchuktu'],
      dtype=object)

In [94]:
murder_db['Police Stion'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Ramakrishnanagar', 'Chandranagar',
       'Bendrenagar', 'Kashinagar', 'Yelachenahalli', 'Praghipura',
       'Kadirenahalli', 'Uttarahalli', 'Iliyasnagar', 'Girinagar',
       'K G Nagar', 'V V Puram', 'H Nagar', 'C K Acchuktu'], dtype=object)

In [95]:
two_wheeler_db['Police Stion'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'V V Puram', 'H Nagar', 'C K Acchuktu'],
      dtype=object)

In [96]:
four_wheeler_db['Police Station'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'V V Puram', 'H Nagar', 'C K Acchuktu'],
      dtype=object)

## Adding the Cleaned Data

In [91]:
murder_db = pd.read_excel('Cleaned_Data/murder.xlsx')
two_wheeler_db = pd.read_excel('Cleaned_Data/two_wheeler_theft.xlsx')
four_wheeler_db = pd.read_excel('Cleaned_Data/four_wheeler_theft.xlsx')
attempt_murder_db = pd.read_excel('Cleaned_Data/attempt_murder.xlsx')

In [ ]:
four_wheeler_db.to_excel('data_formatted/four_wheeler_theft.xlsx')