## Importing the Libraries

In [88]:
import pandas as pd

### Adding all the Databbases, commented one out as it was not loading correctly

In [89]:
#murder_db = pd.read_excel('data/Murder.xlsx')
#two_wheeler_db = pd.read_excel('data/2 Wheeler Theft.xlsx')
#four_wheeler_db = pd.read_excel('data/4 Wheeler Theft.xlsx')
#attempt_murder_db = pd.read_excel('data/307 IPC.xlsx')
sexual_assault_db = pd.read_excel('data/376 IPC.xlsx')
hurt_db = pd.read_excel('data/Hurt.xlsx')
kidnap_db = pd.read_excel('data/Kidnap.xlsx')
#ordinary_theft_db = pd.read_excel('data/Ordinary Theft.xlsx')
robbery_db = pd.read_excel('data/Robbery.xlsx')
chain_snatching_db = pd.read_excel('data/CS.xlsx')

## Checking the added daatsets

In [48]:
two_wWheeler_db.head()

,Police Stion,Year,Type,Date,Time,Place of Occurrence,Lattitude,Longitude
0,Jayanagar,2015.0,2 wheeler theft,2015-02-01 00:00:00,16:45:00,"Surana college, South end road Basavanagudi",12.88605,77.494843
1,Jayanagar,2015.0,2 wheeler theft,2015-03-01 00:00:00,20:00:00,"NO. 324, 10TH A MAIN 3RD BLOCK JAYANAGARA",12.915668,77.589662
2,Jayanagar,2015.0,2 wheeler theft,2015-04-01 00:00:00,17:30:00,"INFRONTT OF NO.459/58,-1, S.R PLAZA, 2nd MAIN,...",12.926896,77.589654
3,Jayanagar,2015.0,2 wheeler theft,2015-05-01 00:00:00,19:45:00,"INFRONT OF NO.168/3, 26th CROSS, 2nd D. MAIN,6...",12.9184,77.58268
4,Jayanagar,2015.0,2 wheeler theft,2015-06-01 00:00:00,19:45:00,"INFRONT OF 19-19/1, SOUTHEND ROAD,BASAVANAGUDI",12.923665,77.589668

## Removing the Serial Number Column from every Data set

In [102]:
#murder_db.drop('Sl.No', axis = 1, inplace = True)
#two_wheeler_db.drop('Sl.No', axis = 1, inplace = True)
#four_wheeler_db.drop('Sl.No', axis = 1, inplace = True)
#attempt_murder_db.drop('Sl.No', axis = 1, inplace = True)
#sexual_assault_db.drop('Sl.No', axis = 1, inplace = True)
#hurt_db.drop('Sl.No', axis = 1, inplace = True)
#kidnap_db.drop('Sl.No', axis = 1, inplace = True)
#robbery_db.drop('Sl.No', axis = 1, inplace = True)
chain_snatching_db.drop('Sl.No', axis = 1, inplace = True)

### The Above tableas 3 of the Data sets have an unwanted Column called as Unnamed: 9..... now we need to Remove that

In [99]:
robbery_db.drop('Unnamed: 9', axis = 1, inplace = True)

In [104]:
murder_db.head()

,Unnamed: 0,Police Stion,Year,Type,Date,Time,Place of Occurrence,Latitude,Longitude
0,0,Jayanagar,2016,Murder,29/07/2016,21:00:00,"22nd Cross, Jayanagara 6th Block Bangalore",12.93297,77.58381
1,1,Jayanagar,2016,Murder,13/11/2016,23:45:00,"On the Road of 30th Cross, Opp Vinayaka textti...",12.930433,77.549761
2,2,Jayanagar,2017,Murder,2017-10-05 00:00:00,21:00:00,"No. 282, 36th Cross Jayanagara 7th Block Banga...",12.923736,77.58182
3,3,Jayanagar,2017,Murder,19/07/2017,19:30:00,"Near Transfaram, Opp Amejan, Kanakapura Main R...",12.924123,77.576913
4,4,Jayanagar,2018,Murder,21/06/2018,23:30:00,"No. 53, 2nd Floor, 8th Main 4th Block Jayanaga...",12.924377,77.582729

In [128]:
chain_snatching_db.head()

,Police Stion,Year,Type,Date,Time,Place of Occurrence,Lattitude,Longitude
0,Jayanagar PS,2015,Chain Snatching,2015-02-03 00:00:00,15:40:00,"INFRONT OF NO.147, 36th A. CROSS, 7th MAIN, 5t...",12.92043,77.5819
1,Jayanagar PS,2015,Chain Snatching,13/03/2015,17:30:00,"INFRONT OF HOUSE NO: 34/9, 38TH A CROSS, 8TH B...",12.921652,77.57928
2,Jayanagar PS,2015,Chain Snatching,31/03/2015,20:15:00,"INFRONT OF HOUSE NO: 458, 39TH B CROSS, 10TH M...",12.920838,77.58481
3,Jayanagar PS,2015,Chain Snatching,2015-01-04 00:00:00,19:45:00,"INFRONT OF BANASHANKARI, TEXTILES, 42ND CROSS,...",12.918973,77.57598
4,Jayanagar PS,2015,Chain Snatching,2015-08-05 00:00:00,11:30:00,"NEAR HANDLOOM WORLD, 10th B MAIN, JAYANAGAR 3r...",12.932486,77.58962

In [129]:
chain_snatching_db['Police Stion'].unique()

array(['Jayanagar PS ', 'Basavanagudi', 'J P NAGAR ', 'Banashankari',
       'Siddapura ', 'Subramanyapura ', 'Thalaghtapura ',
       'KONANAKUNTE PS', 'Puttenahalli ', 'KS LAYOUT', 'GIRINAGAR PS',
       'k g nagar', 'Shankarapura', 'VV Puram', 'H NAGAR PS',
       'C.K. Achuktu'], dtype=object)

In [130]:
chain_snatching_db['Police Stion'].replace(to_replace = 'Jayanagar PS ', value = 'Jayanagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Basavanagudi', value = 'Basavanagudi', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'J P NAGAR ', value = 'J P Nagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Banashankari', value = 'Banashankari', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Siddapura ', value = 'Siddapura', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Subramanyapura ', value = 'Subramanyapura', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Thalaghtapura ', value = 'Thalaghtapura', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'KONANAKUNTE PS', value = 'Konanakunte', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Puttenahalli ', value = 'Puttenahalli', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'KS LAYOUT', value = 'K S Layout', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'GIRINAGAR PS', value = 'Girinagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'k g nagar', value = 'K G Nagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'Shankarapura', value = 'Shankarapura', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'VV Puram', value = 'V V Puram', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'H NAGAR PS', value = 'H Nagar', inplace = True)
chain_snatching_db['Police Stion'].replace(to_replace = 'C.K. Achuktu', value = 'C K Acchuktu', inplace = True)

In [132]:
chain_snatching_db['Police Stion'].unique()
chain_snatching_db.to_excel('Cleaned_Data/chain_snatching.xlsx')

In [127]:
robbery_db['Police Stion'].unique()
robbery_db.to_excel('Cleaned_Data/robbery.xlsx')

In [122]:
kidnap_db['Police Station'].unique()
kidnap_db.to_excel('Cleaned_Data/kidnapping.xlsx')

In [117]:
hurt_db['Police Station'].unique()
hurt_db.to_excel('Cleaned_Data/hurt.xlsx')

In [112]:
sexual_assault_db['Police Station'].unique()
sexual_assault_db.to_excel('Cleaned_Data/sexual_assault.xlsx')

In [110]:
attempt_murder_db['Police Stion'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'V V Puram', 'H Nagar', 'C K Acchuktu'],
      dtype=object)

In [94]:
murder_db['Police Stion'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Ramakrishnanagar', 'Chandranagar',
       'Bendrenagar', 'Kashinagar', 'Yelachenahalli', 'Praghipura',
       'Kadirenahalli', 'Uttarahalli', 'Iliyasnagar', 'Girinagar',
       'K G Nagar', 'V V Puram', 'H Nagar', 'C K Acchuktu'], dtype=object)

In [95]:
two_wheeler_db['Police Stion'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'V V Puram', 'H Nagar', 'C K Acchuktu'],
      dtype=object)

In [96]:
four_wheeler_db['Police Station'].unique()

array(['Jayanagar', 'Basavanagudi', 'J P Nagar', 'Banashankari',
       'Siddapura', 'Subramanyapura', 'Thalaghtapura', 'Konanakunte',
       'Puttenahalli', 'K S Layout', 'Girinagar', 'K G Nagar',
       'Shankarapura', 'V V Puram', 'H Nagar', 'C K Acchuktu'],
      dtype=object)

## Adding the Cleaned Data

In [91]:
murder_db = pd.read_excel('Cleaned_Data/murder.xlsx')
two_wheeler_db = pd.read_excel('Cleaned_Data/two_wheeler_theft.xlsx')
four_wheeler_db = pd.read_excel('Cleaned_Data/four_wheeler_theft.xlsx')
attempt_murder_db = pd.read_excel('Cleaned_Data/attempt_murder.xlsx')

In [ ]:
four_wheeler_db.to_excel('data_formatted/four_wheeler_theft.xlsx')