## Importing the Libraries

In [1]:
import pandas as pd

### Adding all the Databbases, commented one out as it was not loading correctly

In [51]:
murder_db = pd.read_excel('data/Murder.xlsx')
two_wheeler_db = pd.read_excel('data/2 Wheeler Theft.xlsx')
four_wheeler_db = pd.read_excel('data/4 Wheeler Theft.xlsx')
attempt_murder_db = pd.read_excel('data/307 IPC.xlsx')
sexual_assault_db = pd.read_excel('data/376 IPC.xlsx')
hurt_db = pd.read_excel('data/Hurt.xlsx')
kidnap_db = pd.read_excel('data/Kidnap.xlsx')
#ordinary_theft_db = pd.read_excel('data/Ordinary Theft.xlsx')
robbery_db = pd.read_excel('data/Robbery.xlsx')
chain_snatching_db = pd.read_excel('data/CS.xlsx')

## Checking the added daatsets

In [48]:
two_wWheeler_db.head()

,Police Stion,Year,Type,Date,Time,Place of Occurrence,Lattitude,Longitude
0,Jayanagar,2015.0,2 wheeler theft,2015-02-01 00:00:00,16:45:00,"Surana college, South end road Basavanagudi",12.88605,77.494843
1,Jayanagar,2015.0,2 wheeler theft,2015-03-01 00:00:00,20:00:00,"NO. 324, 10TH A MAIN 3RD BLOCK JAYANAGARA",12.915668,77.589662
2,Jayanagar,2015.0,2 wheeler theft,2015-04-01 00:00:00,17:30:00,"INFRONTT OF NO.459/58,-1, S.R PLAZA, 2nd MAIN,...",12.926896,77.589654
3,Jayanagar,2015.0,2 wheeler theft,2015-05-01 00:00:00,19:45:00,"INFRONT OF NO.168/3, 26th CROSS, 2nd D. MAIN,6...",12.9184,77.58268
4,Jayanagar,2015.0,2 wheeler theft,2015-06-01 00:00:00,19:45:00,"INFRONT OF 19-19/1, SOUTHEND ROAD,BASAVANAGUDI",12.923665,77.589668

## Removing the Serial Number Column from every Data set

In [52]:
murder_db.drop('Sl.No', axis = 1, inplace = True)
two_wheeler_db.drop('Sl.No', axis = 1, inplace = True)
four_wheeler_db.drop('Sl.No', axis = 1, inplace = True)
attempt_murder_db.drop('Sl.No', axis = 1, inplace = True)
sexual_assault_db.drop('Sl.No', axis = 1, inplace = True)
hurt_db.drop('Sl.No', axis = 1, inplace = True)
kidnap_db.drop('Sl.No', axis = 1, inplace = True)
robbery_db.drop('Sl.No', axis = 1, inplace = True)
chain_snatching_db.drop('Sl.No', axis = 1, inplace = True)

### The Above tableas 3 of the Data sets have an unwanted Column called as Unnamed: 9..... now we need to Remove that

In [53]:
murder_db.drop('Unnamed: 9', axis = 1, inplace = True)
attempt_murder_db.drop('Unnamed: 9', axis = 1, inplace = True)
robbery_db.drop('Unnamed: 9', axis = 1, inplace = True)

In [79]:
attempt_murder_db.head()

,Police Stion,Year,Type,Date,Time,Place of Occurrence,Lattitude,Longitude
0,Jayanagar,2016.0,Attempted \nMurder,2016-10-02 00:00:00,07:00:00,"No 556, 10th A Main road, 35th Cross, 5th Bloc...",12.971599,77.594563
1,Jayanagar,2016.0,Attempted \nMurder,2016-09-11 00:00:00,13:30:00,"Banashankari Circle, Kanakapura Main Road Bang...",12.80642,77.52537
2,Jayanagar,2017.0,Attempted \nMurder,15/01/2017,10:15PM,"No.1/22, Kalappa Block, Bugle Rock Road, Basav...",12.88605,77.494843
3,Jayanagar,2017.0,Attempted \nMurder,21/01/2017,23:50:00,"Near Ragavendra Temple, 46th Cross, Jayanagara...",12.921755,77.588346
4,Jayanagar,2017.0,Attempted \nMurder,2017-12-06 00:00:00,07:35:00,"18th Main, 36th F Cross Jayanagara 4th T Block...",12.922076,77.558954

In [80]:
attempt_murder_db['Police Stion'].unique()

array(['Jayanagar ', 'Basavanagudi ', 'J.P.nagar ', 'Banashankari', 'BSK',
       'Siddapura', 'Siddapura ', 'Subramanyapura ', 'Thalaghtarapura',
       'konanakunte ps ', 'Puttenahalli ', 'KS LAYOUT', 'GIRINAGAR PS',
       'K.G. Nagar PS', 'Shankarapura', 'VV Puram',
       'Hanumantha Nagar PS ', 'C.K. Achuktu'], dtype=object)

In [81]:
attempt_murder_db['Police Stion'].replace(to_replace = 'Jayanagar ', value = 'Jayanagar', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'Basavanagudi ', value = 'Basavanagudi', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'J.P.nagar ', value = 'J P Nagar', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'Banashankari', value = 'Banashankari', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'BSK', value = 'Banashankari', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'Siddapura', value = 'Siddapura', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'Subramanyapura ', value = 'Subramanyapura', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'Thalaghtarapura', value = 'Thalaghtapura', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'konanakunte ps ', value = 'Konanakunte', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'Puttenahalli ', value = 'Puttenahalli', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'KS LAYOUT', value = 'K S Layout', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'GIRINAGAR PS', value = 'Girinagar', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'K.G. Nagar PS', value = 'K G Nagar', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'Shankarapura', value = 'Shankarapura', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'VV Puram', value = 'V V Puram', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'Hanumantha Nagar PS ', value = 'H Nagar', inplace = True)
attempt_murder_db['Police Stion'].replace(to_replace = 'C.K. Achuktu', value = 'C K Acchuktu', inplace = True)

In [83]:
attempt_murder_db['Police Stion'].unique()
attempt_murder_db.to_excel('data_formatted/attempt_murder.xlsx')

In [84]:
murder_db['Police Stion'].unique()
murder_db.to_excel('data_formatted/murder.xlsx')

In [85]:
two_wheeler_db['Police Stion'].unique()
two_wheeler_db.to_excel('data_formatted/two_wheeler_theft.xlsx')

In [86]:
four_wheeler_db['Police Station'].unique()
four_wheeler_db.to_excel('data_formatted/four_wheeler_theft.xlsx')