In [1]:
import pandas as pd

In [2]:
attempt_murder_data = pd.read_csv('CSV Files/attempted_murder.csv')
attempt_murder_data.head()

,Police_Station,Year,Type,Date,Month,Day,Time,Hour
0,Jayanagar,2016,Attempted Murder,02/10/2016,10,2,07:00:00,7
1,Jayanagar,2016,Attempted Murder,11/09/2016,9,11,13:30:00,13
2,Jayanagar,2017,Attempted Murder,06/12/2017,12,6,22:15:00,22
3,Jayanagar,2017,Attempted Murder,12/02/2018,2,12,23:50:00,23
4,Jayanagar,2017,Attempted Murder,02/01/2015,1,2,07:35:00,7

In [16]:
chain_snatching_data = pd.read_csv('CSV Files/Chain_Snatching.csv')
chain_snatching_data.head()

,Police_Station,Year,Type,Date,Month,Day,Time,Hour
0,Jayanagar,2015,Chain Snatching,03/02/2015,2,3,15:40:00,15.0
1,Jayanagar,2015,Chain Snatching,13/03/2015,3,13,17:30:00,17.0
2,Jayanagar,2015,Chain Snatching,31/03/2015,3,31,20:15:00,20.0
3,Jayanagar,2015,Chain Snatching,04/01/2015,1,4,19:45:00,19.0
4,Jayanagar,2015,Chain Snatching,05/08/2015,8,5,11:30:00,11.0

In [17]:
chain_snatching_data.head()

,Police_Station,Year,Type,Date,Month,Day,Time,Hour
0,Jayanagar,2015,Chain Snatching,03/02/2015,2,3,15:40:00,15.0
1,Jayanagar,2015,Chain Snatching,13/03/2015,3,13,17:30:00,17.0
2,Jayanagar,2015,Chain Snatching,31/03/2015,3,31,20:15:00,20.0
3,Jayanagar,2015,Chain Snatching,04/01/2015,1,4,19:45:00,19.0
4,Jayanagar,2015,Chain Snatching,05/08/2015,8,5,11:30:00,11.0

In [19]:
chain_snatching_data['Hour'].fillna(value=14, inplace = True)

In [ ]:
chain_snatching_data['Hour']

In [20]:
chain_snatching_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  360 non-null    object
 1   Year            360 non-null    int64
 2   Type            360 non-null    object
 3   Date            360 non-null    object
 4   Month           360 non-null    int64
 5   Day             360 non-null    int64
 6   Time            336 non-null    object
 7   Hour            360 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 22.6+ KB