In [ ]:
import pandas as pd

In [ ]:
attemped_murder_data = pd.read_csv('CSV Files/attempted_murder.csv')
chain_snatching_data =pd.read_csv('CSV Files/Chain_Snatching.csv')
four_wheeler_data = pd.read_csv('CSV Files/four_wheeler_theft.csv')
two_wheeler_data = pd.read_csv('CSV Files/two_wheeler_theft.csv')
hurt_data = pd.read_csv('CSV Files/Hurt.csv')
kidnapping_data = pd.read_csv('CSV Files/kidnapping.csv')
robery_data = pd.read_csv('CSV Files/Roberry.csv')
sexual_assault_data = pd.read_csv('CSV Files/sexual_assault.csv')
murder_data = pd.read_csv('CSV Files/murder.csv')

In [14]:
attemped_murder_data['Hour'].fillna(value=14, inplace = True)

In [15]:
attemped_murder_data['Hour'] = attemped_murder_data['Hour'].astype('int64')

In [16]:
attemped_murder_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  326 non-null    object
 1   Year            326 non-null    int64
 2   Type            326 non-null    object
 3   Date            326 non-null    object
 4   Month           326 non-null    int64
 5   Day             326 non-null    int64
 6   Time            326 non-null    object
 7   Hour            326 non-null    int64
dtypes: int64(4), object(4)
memory usage: 20.5+ KB

In [17]:
two_wheeler_data['Hour'].fillna(value=14, inplace = True)

In [18]:
two_wheeler_data['Hour'] = two_wheeler_data['Hour'].astype('int64')

In [19]:
two_wheeler_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3994 entries, 0 to 3993
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  3994 non-null   object
 1   Year            3994 non-null   int64
 2   Type            3994 non-null   object
 3   Date            3986 non-null   object
 4   Month           3986 non-null   object
 5   Day             3986 non-null   object
 6   Time            3448 non-null   object
 7   Hour            3994 non-null   int64
dtypes: int64(2), object(6)
memory usage: 249.8+ KB

In [20]:
chain_snatching_data['Hour'].fillna(value=14, inplace = True)

In [21]:
chain_snatching_data['Hour'] = chain_snatching_data['Hour'].astype('int64')

In [22]:
chain_snatching_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  360 non-null    object
 1   Year            360 non-null    int64
 2   Type            360 non-null    object
 3   Date            360 non-null    object
 4   Month           360 non-null    int64
 5   Day             360 non-null    int64
 6   Time            336 non-null    object
 7   Hour            360 non-null    int64
dtypes: int64(4), object(4)
memory usage: 22.6+ KB

In [23]:
four_wheeler_data['Hour'].fillna(value=14, inplace = True)

In [24]:
four_wheeler_data['Hour'] = four_wheeler_data['Hour'].astype('int64')

In [25]:
four_wheeler_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  216 non-null    object
 1   Year            216 non-null    int64
 2   Type            216 non-null    object
 3   Date            216 non-null    object
 4   Month           216 non-null    int64
 5   Day             216 non-null    int64
 6   Time            190 non-null    object
 7   Hour            216 non-null    int64
dtypes: int64(4), object(4)
memory usage: 13.6+ KB

In [26]:
hurt_data['Hour'].fillna(value=14, inplace = True)

In [27]:
hurt_data['Hour'] = hurt_data['Hour'].astype('int64')

In [28]:
hurt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877 entries, 0 to 1876
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  1877 non-null   object
 1   Year            1877 non-null   int64
 2   Type            1877 non-null   object
 3   Date            1877 non-null   object
 4   Month           1877 non-null   int64
 5   Day             1877 non-null   int64
 6   Time            1635 non-null   object
 7   Hour            1877 non-null   int64
dtypes: int64(4), object(4)
memory usage: 117.4+ KB

In [29]:
kidnapping_data['Hour'].fillna(value=14, inplace = True)

In [30]:
kidnapping_data['Hour'] = kidnapping_data['Hour'].astype('int64')

In [31]:
kidnapping_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  575 non-null    object
 1   Year            575 non-null    int64
 2   Type            575 non-null    object
 3   Date            575 non-null    object
 4   Month           575 non-null    int64
 5   Day             575 non-null    int64
 6   Time            515 non-null    object
 7   Hour            575 non-null    int64
dtypes: int64(4), object(4)
memory usage: 36.1+ KB

In [32]:
robery_data['Hour'].fillna(value=14, inplace = True)

In [33]:
robery_data['Hour'] = robery_data['Hour'].astype('int64')

In [34]:
robery_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  399 non-null    object
 1   Year            399 non-null    int64
 2   Type            399 non-null    object
 3   Date            399 non-null    object
 4   Month           399 non-null    int64
 5   Day             399 non-null    int64
 6   Time            365 non-null    object
 7   Hour            399 non-null    int64
dtypes: int64(4), object(4)
memory usage: 25.1+ KB

In [35]:
sexual_assault_data['Hour'].fillna(value=14, inplace = True)

In [36]:
sexual_assault_data['Hour'] = sexual_assault_data['Hour'].astype('int64')

In [37]:
sexual_assault_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  76 non-null     object
 1   Year            76 non-null     int64
 2   Type            76 non-null     object
 3   Date            76 non-null     object
 4   Month           76 non-null     int64
 5   Day             76 non-null     int64
 6   Time            70 non-null     object
 7   Hour            76 non-null     int64
dtypes: int64(4), object(4)
memory usage: 4.9+ KB

In [38]:
murder_data['Hour'].fillna(value=14, inplace = True)

In [39]:
murder_data['Hour'] = murder_data['Hour'].astype('int64')

In [40]:
murder_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Police_Station  135 non-null    object
 1   Year            135 non-null    int64
 2   Type            135 non-null    object
 3   Date            135 non-null    object
 4   Month           135 non-null    object
 5   Day             135 non-null    int64
 6   Time            125 non-null    object
 7   Hour            135 non-null    int64
dtypes: int64(3), object(5)
memory usage: 8.6+ KB